<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
 <meta charset="utf-8">
 <title>App de ejemplo</title>
</head>
<script src="https://kit.fontawesome.com/d893de1e7a.js" crossorigin="anonymous">
new WOW().init();
</script>

<style>
.card{
 text-align: center; 
 margin-left: auto;
  margin-right: auto;
}
</style>
<body>
 {{{body}}}
</body>
</html>