
<style>
    body{
  padding:20px;
 text-align:center;
  font-family: Helvetica;
  
    }
    body {	
    background-image: url("https://images.wallpaperscraft.com/image/road_marking_bridge_123398_1920x1080.jpg");
    }
.tuclase{
text-align: left; 

font-weight:bold; 
font-size: 90px; 
color: orange; 
text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68; 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
 text-shadow: 2px 2px 0 #AAA,      /* Sombra 1 */
               6px 6px 2px #777,    /* Sombra 2 */
               12px 12px 8px #444;  /* Sombra 3 */
text-decoration: underline burlywood;
}
</style>
            
            <span class="tuclase">Web On-Line de Novedades</span>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                        <div class="card" style="width: 18rem;">
                        <img src="https://images.wallpaperscraft.com/image/coffee_cup_wooden_surface_106291_800x600.jpg"abs class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">¿Usuario no registrado?</h5>
                        <p class="card-text">Click abajo para registrarse.</p>
                        <a href="/ver_registracion" class="btn btn-primary"><i class="fas fa-id-card"></i> Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                            <div class="card" style="width: 18rem;">
                            <img src="https://images.wallpaperscraft.com/image/butterfly_surface_wooden_116623_800x600.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">¿Usuario registrado?</h5>
                                <p class="card-text"> Click abajo para ingresar.</p>
                                <a href="/ver_login" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</a>
                            </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

 