
<style>
    body {	
  background-image: url("https://images.wallpaperscraft.com/image/landscape_art_moon_127187_1920x1080.jpg");
    }
}
</style>


<br>
<br>
<div class="mask rgba-gradient align-items-center">
        
<div class="container">
<div class="card" style="width: 28rem;">
    <h5 class="card-header info-color white-text text-center py-4" style="background-image: url('https://images.wallpaperscraft.com/image/space_stars_nebulae_aurora_85533_800x600.jpg');
                            color:white;">
        <strong>Agregar novedad</strong>
    </h5>
    <br>
    <div class="card-body px-lg-5 pt-0">
        <form  action="/nuevaNovedad" method="post" class="text-center" style="color: #757575;" action="#!">
            <!-- Name 
            <div class="md-form mt-3">
                <input type="text" id="materialContactFormName" class="form-control">
                <label for="materialContactFormName">Name</label>
            </div>
            Message-->
            <div class="md-form">
                <textarea name="novedad" id="novedad" class="form-control md-textarea" rows="3"></textarea>
                <label for="novedad"><i class="far fa-sticky-note"></i> Message</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
                <label class="form-check-label" for="materialContactFormCopy"><i class="far fa-copy"></i> Send me a copy of this message</label>
            </div>
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit"><i class="fas fa-pencil-alt"></i> Write</button>
        </form>
    </div>
</div>

</div>

</div>
